@if(!user){
<div class="character__choose__container">
  <app-character-selector
    #chickenSelector
    playerType="chicken"
  ></app-character-selector>
  <div class="character__choose__content">
    <input
      type="text"
      placeholder="Escolha seu nickname"
      [(ngModel)]="username"
    />
    <div style="display: flex; gap: 12px">
      <button (click)="setUser()">Entrar na sala</button>
      <button *ngIf="!lobby" (click)="createLobby()">Criar Sala</button>
    </div>
  </div>
  <app-character-selector
    #catSelector
    playerType="cats"
  ></app-character-selector>
</div>
}
<p class="title">Lobby</p>
<div class="user__container">
  <div class="user__content">
    @for (user of lobby?.users; track $index) {
    <div class="user__painel">
      <p>{{ user.username }}</p>
    </div>
    }
  </div>
</div>
<div class="team__container">
  @for (team of teams; track $index) {
  <div
    (click)="chooseTeam('chicken', team)"
    class="team__content"
    [ngStyle]="{
      background: team.secondaryColor,
      'border-color': team.primaryColor
    }"
  >
    <div class="team__content__frame">
      <img
        [src]="
          team.players.chicken?.img
            ? '../../../assets/players/' + team.players.chicken?.img
            : ''
        "
      />
    </div>
    <div class="team__content__nickname">
      <p>{{ team.players.chicken?.username ?? "Escolha um Time" }}</p>
    </div>
    <div class="team__content__frame">
      <img
        [src]="
          team.players.cat?.img
            ? '../../../assets/players/' + team.players.cat?.img
            : ''
        "
      />
    </div>
  </div>
  }
</div>
<div class="btn-actions">
  <button>Iniciar Jogo</button>
</div>
