::-webkit-scrollbar {
  width: 8px; /* Largura da barra */
  background-color: transparent; /* Fundo transparente */
}

/* Estilo do thumb (parte que você arrasta) */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Leve transparência */
  border-radius: 4px; /* Cantos arredondados */
}

/* Estilo do track (área atrás do thumb) */
::-webkit-scrollbar-track {
  background-color: transparent; /* Fundo transparente */
}

button {
  cursor: pointer;
}
