/** Breakpoints */
$bkpoint-sm: 576px;
$bkpoint-mobile: 1200px;
$bkpoint-md: 1200px;
$bkpoint-lg: 1400px;
$bkpoint-xlg: 1652px;

@mixin only-sm-screen {
  @media screen and (max-width: #{$bkpoint-sm}) {
    @content;
  }
}

@mixin mobile-bkpoint {
  @media screen and (max-width: #{$bkpoint-mobile}) {
    @content;
  }
}

@mixin only-md-screen {
  @media (min-width: #{$bkpoint-mobile}) and (max-width: #{$bkpoint-md}) {
    @content;
  }
}

@mixin only-lg-screen {
  @media (min-width: #{$bkpoint-md}) and (max-width: #{$bkpoint-lg}) {
    @content;
  }
}

@mixin only-xlg-screen {
  @media (min-width: #{$bkpoint-lg}) and (max-width: #{$bkpoint-xlg}) {
    @content;
  }
}

@mixin md-screen-and-down {
  @media screen and (max-width: #{$bkpoint-md}) {
    @content;
  }
}

@mixin lg-screen-and-down {
  @media screen and (max-width: #{$bkpoint-lg}) {
    @content;
  }
}

@mixin xlg-screen-and-down {
  @media screen and (max-width: #{$bkpoint-xlg}) {
    @content;
  }
}
